:root{
    --main-bg: #1b3954;
}
.main-bg{
    background-color: var(--main-bg) !important;
}
input:focus,
button:focus{
    border:1px solid var(--main-bg) !important;
    box-shadow: none !important;
}
.form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
}
.cgv:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
}
.card,
.btn,
input{
    border-radius: 0 !important;
}
audio {
    width: 100%;
}
li{
    padding: 8px;
  }
  
  .navbar-dark .navbar-brand {
    color: #16ade1;
  }
.navbar-dark .navbar-nav .nav-link.active{
    color: #FFF;
}
.btn-dark {
    border-color: #1b3954;
    color: #1b3954;
}
img {
    width: 100px;
}
.border {
    border-color: #1b3954!important;
}
.img-fluid {
    width: 40px;
}
.accordion-button:not(.collapsed){
    background-color: #F1F3F4;
}
.accordion-button.collapsed{
    background-color: #F1F3F4;
}

@media(max-width:767px){
    
}