audio {
    width: 100%;
}
li{
    padding: 8px;
  }
  
  .navbar-dark .navbar-brand {
      color: #16ade1;
  }
.navbar-dark .navbar-nav .nav-link.active{
     color: #FFF;
}
.btn-dark {
    border-color: #1b3954;
    color: #1b3954;
}
img {
    width: 100px;
}
.border {
    border-color: #1b3954!important;
}
.img-fluid {
    width: 40px;
}